@use '../../../../../variables' as *

.invoice-preview-container
  display: flex
  flex-direction: column
  gap: 16px
  max-height: 60vh
  overflow-y: auto

.preview-note
  text-align: right
  color: $gray-700
  font-size: 14px
  margin: 0
