<div class="reminder-dialog">
  <div class="flex mb-3">
    <button class="close-btn me-3" (click)="onClose()">
      <img src="assets/img/icons/close.svg" alt="" class="close-icon">
    </button>
    <h2>@if (data.memberName) {
      שלח הודעת תזכורת ל- {{ data.memberName }}
    } @else {
      שלח הודעת תזכורת ל- {{ data.memberCount }} חברי הקהילה שנבחרו
    }</h2>
  </div>

  <div class="dialog-content">
    <div class="form-group">
      <label class="required">תוכן ההודעה:</label>
      @if (isLoading) {
        <div class="textarea-loading">
          <div class="loading-spinner"></div>
          <span>טוען תבנית הודעה...</span>
        </div>
      } @else {
        <textarea [(ngModel)]="message" rows="6"></textarea>
      }
    </div>

    @if (showWarning) {
      <div class="warning-note">
        <i class="fa-solid fa-circle-info"></i>
        <span>{{ warningMessage }}</span>
      </div>
    }
  </div>

  <div class="dialog-actions">

    <button class="btn-send" (click)="onSend()" [disabled]="isLoading">
      <img src="assets/img/icons/floppy.svg" alt="">
      שלח הודעה
    </button>
  </div>
</div>
