<div class="data-table-container">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          @if (showRowNumber) {
            <th class="col-number">#</th>
          }
          @if (showCheckbox) {
            <th class="col-checkbox"><input type="checkbox" [checked]="allSelected" (change)="onSelectAllChange($event)"></th>
          }
          @for (col of columns; track col.key) {
            <th [class]="col.class || ''">{{ col.label }}</th>
          }
        </tr>
      </thead>
      <tbody>
        @if (isLoading) {
          <tr>
            <td [attr.colspan]="colSpan" class="loading-cell">
              <div class="spinner-wrapper">
                <div class="spinner"></div>
              </div>
            </td>
          </tr>
        } @else if (data.length === 0) {
          <tr>
            <td [attr.colspan]="colSpan" class="empty-cell">
              <div class="empty-state">
                <i class="fa-regular fa-folder-open"></i>
                <span>לא נמצאו תוצאות</span>
              </div>
            </td>
          </tr>
        } @else {
          <ng-content></ng-content>
        }
      </tbody>
    </table>
  </div>

</div>
