<aside class="sidebar">
  <div class="logo">
      <img src="assets/img/icons/logo.svg" alt="שקל הקודש" />
  </div>

  <nav class="sidebar-nav">
    <a class="nav-item" routerLink="/dashboard" routerLinkActive="active">
      <img src="assets/img/icons/sidebar/dashboard.svg" alt="" class="icon">
      <span>לוח הבקרה</span>
    </a>
    <a class="nav-item" routerLink="/community" routerLinkActive="active">
      <img src="assets/img/icons/sidebar/community.svg" alt="" class="icon">
      <span>קהילה</span>
    </a>
    <a class="nav-item" routerLink="/debts" routerLinkActive="active">
      <img src="assets/img/icons/sidebar/debts.svg" alt="" class="icon">
      <span>חובות</span>
    </a>
    <a class="nav-item" routerLink="/expenses" routerLinkActive="active">
      <img src="assets/img/icons/sidebar/expenses.svg" alt="" class="icon">
      <span>הוצאות</span>
    </a>
    <a class="nav-item" routerLink="/incomes" routerLinkActive="active">
      <img src="assets/img/icons/sidebar/income.svg" alt="" class="icon">
      <span>הכנסות</span>
    </a>
    <a class="nav-item" routerLink="/invoices" routerLinkActive="active">
      <img src="assets/img/icons/sidebar/accounting.svg" alt="" class="icon icon-accounting">
      <span>ניהול חשבונות</span>
    </a>
    <a class="nav-item" routerLink="/reports" routerLinkActive="active">
      <img src="assets/img/icons/sidebar/reports.svg" alt="" class="icon">
      <span>דוחות</span>
    </a>
    <a class="nav-item" routerLink="/support" routerLinkActive="active">
      <img src="assets/img/icons/sidebar/support.svg" alt="" class="icon">
      <span>תמיכה</span>
    </a>

    <div class="nav-divider"></div>

    <button class="quick-payment-btn" (click)="openPaymentDialog()">
      <img src="assets/img/icons/credit_card_white.svg" alt="" class="btn-icon">
      <span>ביצוע תשלום מהיר</span>
    </button>
  </nav>

  <div class="sidebar-footer">
    <a class="nav-item" routerLink="/settings" routerLinkActive="active">
      <img src="assets/img/icons/sidebar/system_settings.svg" alt="" class="icon">
      <span>הגדרות מערכת</span>
    </a>
  </div>
</aside>
